
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
    script(src="public/javascripts/paper-full.js")
    link(href="public/stylesheet.css", rel='stylesheet')    

  body
    block content
